.container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    height: fit-content;
}
.boxa{
    padding: 15px;
    background-color: #202442;
    width: 60vw;
    height: 195vh;
    border-radius: 15px;   
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    height: 65vh;
    font-size: 40px;
    text-align: center;
    color: white;
    
}
.logo{
    width: 170px;
    margin: 10px;
}
/* *{
    background-color: #25294A;
} */

#sbar{
    position: relative;
    left: 1100px;
    bottom: 30px;
    border-radius: 25px;
    height: 25px;
    padding: 5px;
    background-color: #a245d1;
    border: none;
}
*{
    .mp{
        width: 250px;
        height: 30px;
        border-radius: 19px;
        position: relative;
        right: 470px;
        top: 100px;
        color: red;
    
    
    }
    .pm{
        font-size: xx-large;
        color: #a245d1;
        font-family: 'Courier New', Courier, monospace;
        position: relative;
        top: 60px;
        right: 300px;
    }
}
